<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/timetable.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" charset="utf-8">
    <script type="text/javascript">
        var lPadding = 50
        var uPadding = 50
        var lWidth = 90
        var lHeight = 32
        var wordPadding = 6
        var fontSize = 14
        var courses = new Object();
        var hideRedundent = false;
        $(document).ready(function(){
            getCourses()
            $("#hideRedundent").click(()=>{
                hideRedundent = !hideRedundent
                loadClasses(new timetable())
            })
        })
        // given a timetable, load all classes from courses
        // and draw the timetable
        function loadClasses(tt){
            for (course in courses){
                if (courses[course].visible){
                    courses[course].forEachClass(function(c){
                        if (!hideRedundent || c.chooseStatus >= 0)
                            tt.addClass(c)
                    })
                }
            }
            drawTable(tt)
        }
        // parse the classes get from server to the right
        // class used here
        function parseClass(tempCourse){
            for (course in tempCourse){
                var color = getRandomColor()
                courses[course] = new _course(color);
                var subjectCode = course.substring(0,course.indexOf('_'))
                tempCourse[course].forEach(function(c){
                    var name = c.desc
                    var start = parseInt(c.start.replace(":",""))
                    var end = parseInt(c.fin.replace(":",""))
                    var day = c.day
                    var place = c.loc
                    var newC = new _class(subjectCode,course,name,day,start,end,place,color)
                    newC.click = chooseClass(courses[course],newC)
                    courses[course].addClass(newC)
                })

            }
        }
        // get the courses from the server and then display it
        // in the left up corner
        function getCourses(){
            $.get('/getCourses',function(data,status){
                if (status != 'success'){
                    console.log('ajax /getCourses failed')
                    return
                }
                parseClass(data)
                loadClasses(new timetable())
                for (course in courses){
                    var entry = document.createElement('input')
                    var span = document.createElement('span')
                    $(span)
                        .html(course)
                        .css("background",courses[course].color)
                        .css("color",courses[course].fontColor)
                    console.log(course)
                    $(entry)
                        .attr('type','checkbox')
                        .attr('name','course')
                        .attr('value',course)
                        .click(function(){
                            courses[$(this).attr('value')].visible
                                = $(this).is(":checked")
                            loadClasses(new timetable())
                        })
                    $('#courses').append(entry).append(span).append('<br>')
                }
            })
        }
        // draw the given timetable
        function drawTable(timetable){
            // count the total rows first
            var rows = timetable.rows()
            var svgW = rows * lWidth + 2 * lPadding
            var svgH = 16 * lHeight + 2 * uPadding // from 6am to 10pm, totally 16 hours, 40 per hour
            $('#timetable').empty().attr('width',svgW).attr('height',svgH)
            // 16 hours
            for (var i = 0; i < 17; i++){
                var hLine = document.createElementNS('http://www.w3.org/2000/svg','line')
                $(hLine).
                        attr('x1',lPadding).
                        attr('x2',lPadding + rows * lWidth).
                        attr('y1',uPadding + i * lHeight).
                        attr('y2',uPadding + i * lHeight).
                        attr('class','blackLine')
                var label = document.createElementNS('http://www.w3.org/2000/svg','text')
                label.innerHTML = (i + 6) + ':00'
                $(label).
                        attr('x',0).
                        attr('y',uPadding + wordPadding + i * lHeight).
                        attr('font-size','16').
                        attr('font-family','Verdana')
                $('#timetable').append(hLine)
                $('#timetable').append(label)
            }
            // first vertical line
            var vLine = document.createElementNS('http://www.w3.org/2000/svg','line')
            $(vLine).
                    attr('x1',lPadding).
                    attr('x2',lPadding).
                    attr('y1',uPadding).
                    attr('y2',uPadding + 16 * lHeight).
                    attr('class','blackLine')
            $('#timetable').append(vLine)
            // 5 days
            var offset = 0
            for (var i = 1; i < 6; i++){
                offset += timetable[toWeekday(i)].length
                var vLine = document.createElementNS('http://www.w3.org/2000/svg','line')
                $(vLine).
                        attr('x1',lPadding + offset * lWidth).
                        attr('x2',lPadding + offset * lWidth).
                        attr('y1',uPadding).
                        attr('y2',uPadding + 16 * lHeight).
                        attr('class','blackLine')
                $('#timetable').append(vLine)
            }
            // draw the classes
            offset = 0
            var textGroup = new Array()
            var rectGroup = new Array()
            for (var i = 1; i < 6; i++){
                var day = timetable[toWeekday(i)]
                for (var j = 0; j < day.length; j++){
                    for (k in day[j]){
                        var e = day[j][k]
                        var color = e.color;
                        if (e.chooseStatus < 0){
                            color = darkerColor(e.color);
                        }
                        var startH = Math.floor(e.start/100) - 6
                        var startS = e.start%100
                        var endH = Math.floor(e.end/100) - 6
                        var endS = e.end%100
                        var duration = (endH - startH) + (endS - startS)/60
                        var vOffest = startH*lHeight + startS*lHeight/60
                        var rect = document.createElementNS('http://www.w3.org/2000/svg','rect')
                        var subCode = document.createElementNS('http://www.w3.org/2000/svg','text')
                        var desc = document.createElementNS('http://www.w3.org/2000/svg','text')
                        $(desc)
                            .attr('x',lPadding + offset * lWidth)
                            .attr('y',uPadding + vOffest + 2 * fontSize)
                            .attr('font-size',fontSize)
                            .attr('font-family','Verdana')
                            .attr('fill',e.fontColor)
                            .html(e.name)
                            .click(classClick(e.subjectCode,e.name,e.place))
                        $(subCode)
                            .attr('x',lPadding + offset * lWidth)
                            .attr('y',uPadding + vOffest + fontSize)
                            .attr('font-size',fontSize)
                            .attr('font-family','Verdana')
                            .attr('fill',e.fontColor)
                            .html(e.subjectCode)
                            .click(classClick(e.subjectCode,e.name,e.place))
                        $(rect)
                            .attr('x',lPadding + offset * lWidth)
                            .attr('y',uPadding + vOffest)
                            .attr('width',lWidth)
                            .attr('height',lHeight * duration)
                            .attr('class','class')
                            .css('fill',color)
                            .click(classClick(e.subjectCode,e.name,e.place,e.click))
                        textGroup.push(subCode)
                        textGroup.push(desc)
                        rectGroup.push(rect)
                    }
                    offset++
                }
            }
            for (var i = 0; i < rectGroup.length; i++){
                $("#timetable").append(rectGroup[i])
            }
            for (var i = 0; i < textGroup.length; i++){
                $("#timetable").append(textGroup[i])
            }
        }
        // when user click the label or the block of the class
        // show the infomation of the class on the right top of corner
        function classClick(code,desc,loc,chooseClick){
            return function(){
                $("#subjectCode").text(code)
                $("#desc").text(desc)
                $("#loc").text(loc)
                $("#chooseButton").off("click")
                $("#chooseButton").click(chooseClick)
            }
        }
        function chooseClass(_course,_class){
            return ()=>{
                _course[_class.name].forEach(c => {
                    c.chooseStatus = -1
                })
                _class.chooseStatus = 1
                loadClasses(new timetable);
            }
        }
    </script>
</head>
<body>
    <div id = "discription">
        <div id = "logo">
            <a href="" target=""></a>
        </div>
        <div id="title">
            <h1>Timetable</h1>
            <h2>Student x School</h2>
        </div>
        <div id="courses">
        </div>
        <div class = "classSpec">
            <p>subjectCode: <span id = "subjectCode"></span></p>
            <p>Description: <span id = "desc"></span></p>
            <p>Location: <span id = "loc"></span></p>
        </div>
        <div>
            <button type="button" name="button" id="chooseButton">Choose</button>
            <button type="button" name="button" id="hideRedundent">Hide Redundent</button>
        </div>
    </div>
    <div>
        <svg id="timetable">
        </svg>
    </div>
</body>
</html>
