.blackLine{
    stroke : black;
}
body{
	color: #ffffff;
	font-family:"Courier New", Courier, monospace;
}

.class{
    stroke-width : 0.5;
    stroke : white;
}

#title{
    text-align : center;
	float: left;
	padding: 10px 30px 10px 170px;
}

#courses{
	float:left;
	padding: 2px 30px 2px 0;
	text-align:left;
	font-size: 15px;
}

.classSpec{
	float:left;
	text-align : left;
	font-size: 14px;
	padding-top: 23px;
}

#subjectCode{
	font-size: 16px;
	font-weight: bold;
}

#timetable{
	position: absolute;
	left:25px;
}

#discription {
    background-color: #036;
    height: 154px;
    background-image: url("https://prod.ss.unimelb.edu.au/student/UMSystemImages/UMHeader/uom-noswirl.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

#logo a {
    position: absolute;
    top: 0px;
    left: 20px;
    height: 130px;
    width: 130px;
    background-image: url("https://prod.ss.unimelb.edu.au/student/UMSystemImages/UMHeader/logo-sub.gif");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#chooseButton{
	background: #33477D;
	float:right;
	position:absolute;
	right:15px;
	top:40px;
    width: auto;
    height: 30px;
    border-radius: 4px;
    border-width: 2px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    text-align : center;
    text-shadow: 1px 1px grey;
    color: #ffffff;
}

#hideRedundent{
	background: #33477D;
    float:right;
	position:absolute;
	right:15px;
	top:100px;
    width: auto;
    height: 30px;
    border-radius: 4px;
    border-width: 2px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    text-align : center;
    text-shadow: 1px 1px grey;
    color: #ffffff;
}