.blackLine{
    stroke : black;
}
body{

}

.class{
    stroke-width : 0.5;
    stroke : white;
}

#title{
    text-align : center;
    font-family: "Times New Roman", Times, serif;
	margin-left:-2%;
	color: #ffffff;
	margin-bottom:1%;
}

#courses{
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	text-align: left;
	font-size: 15px;
	margin-bottom: 1%;
}

#classSpec{
	float: left;
	text-align : left;
    height: 100%;
	margin-bottom: 1%;
	font-size: 14px;
}

#subjectCode{
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

#timetable{
	float: none;
	position: inherit;
	left: 25px;
	margin-top:-1%;
}

#discription {
    background-color: #036;
    height: 125px;
    background-image: url("https://prod.ss.unimelb.edu.au/student/UMSystemImages/UMHeader/uom-noswirl.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

#logo {
    text-align: center;
}

#logo a {
    position: absolute;
    height: 120px;
    width: 120px;
    background-image: url("https://prod.ss.unimelb.edu.au/student/UMSystemImages/UMHeader/logo-sub.gif");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#chooseButton{
	background: #33477D;
    width: auto;
    height: 30px;
    border-radius: 4px;
    border-width: 2px;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #ffffff;
    margin-left:5%;
    margin-bottom: 1%;
}

#hideRedundent{
	background: #33477D;
    width: auto;
    height: 30px;
    border-radius: 4px;
    border-width: 2px;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    text-shadow: 1px 1px grey;
    color: #ffffff;
    margin-bottom: 1%;
    margin-left:5%;
}
