.blackLine{
    stroke : black;
}
body{

}

.class{
    stroke-width : 0.5;
    stroke : white;
}

#title{
    text-align : center;
    font-family: "Times New Roman", Times, serif;
	float: left;
	color: #ffffff;
	padding: 0px 40px 0px 180px;
}

#courses{
	font-weight: bold;
	font-family: "Times New Roman", Times, serif; 
	margin-left: 30px;
	padding: 7px 25px 2px 0;
	text-align:left;
	font-size: 15px;
}

#classSpec{
	margin-left:30px;
	float:left;
	text-align : left;
	font-size: 14px;
	padding-top: 20px;
}

#subjectCode{
	font-size: 16px;
	font-weight: bold;
}

#timetable{
	float:left;
	position: inherit;
	left:25px;
}

#discription {
    background-color: #036;
    height: 125px;
    background-image: url("https://prod.ss.unimelb.edu.au/student/UMSystemImages/UMHeader/uom-noswirl.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    margin-bottom:110px;
}

#logo a {
    position: absolute;
    top: -10px;
    left:30px;
    height: 120px;
    width: 120px;
    background-image: url("https://prod.ss.unimelb.edu.au/student/UMSystemImages/UMHeader/logo-sub.gif");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#chooseButton{
	background: #33477D;
	float:left;
	left:25px;
    width: auto;
    height: 30px;
    border-radius: 4px;
    border-width: 2px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    text-align : center;
    text-shadow: 1px 1px grey;
    color: #ffffff;
}

#hideRedundent{
	background: #33477D;
	left:25px;
	float:left;
    width: auto;
    height: 30px;
    border-radius: 4px;
    border-width: 2px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 4px;
    text-align : center;
    text-shadow: 1px 1px grey;
    color: #ffffff;
}